<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w681">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Terminer cette tâche</h2>

                    <form method="POST" action="terminer_tache/<%=OneTache.id%>/<%= oneDemande.id %>" enctype="multipart/form-data">

                        <div >
                            <div >
                                <div class="input-group">
                                    <label class="label">Objet: <%= oneDemande.objet %></label>
                                </div>
                            </div>
                        </div>  <div >
                            <div >
                                <div class="input-group">
                                    <label class="label">Priorité: <%= oneDemande.priorite %></label>
                                </div>
                            </div>
                        </div>
                        <div >
                            <div >
                                <div class="input-group">
                                    <label class="label">Tâche: <%= oneDemande.tache %></label>
                                </div>
                            </div>
                        </div>
                        <div >
                            <div >
                                <div class="input-group">
                                    <label class="label">Code: <%= oneDemande.code %></label>
                                </div>
                            </div>
                        </div>
                        <%
                        if(oneDemande.chemin){
                        %>
                        <div >
                            <div >
                                <div class="input-group">
                                    <label class="label">Taille: <%= oneDemande.size %></label>
                                </div>
                            </div>
                        </div>
                        <%
                        }
                        %>
                        <div >
                            <div >
                                <div class="input-group">
                                    <label class="label">Expediteur: <%= oneDemande.categorie %></label>
                                </div>
                            </div>
                        </div>
                        <%
                        if(oneDemande.chemin){
                        %>
                        <div >
                            <div>
                                <div class="input-group">
                                    <label class="label">Chemin: <%= oneDemande.chemin %></label>
                                </div>
                            </div>
                        </div>
                        <%
                        }
                        %>
                        <div >
                            <div >
                                <div class="input-group">                                    
                                        <label class="label">Prise en charge: <%= datePriseEnCharge %> à <%= timePriseEnCharge %></label>
                                </div>
                            </div>
                        </div>
                        <%
                        if(oneDemande.chemin){
                        %>
                        <div>
                            <div class="input-group"> 
                                <label class="label">Contenu :</label>  
                                <% for(var i=0; i<contenu.length; i++){ %>
                                        <div>
                                            <ul>
                                                <li class="list-group-item"><%= contenu[i] %></li>
                                            </ul>
                                        </div>  
                                <% 
                                }
                                %>
                            </div>
                        </div>
                        <%
                        }
                        %>
                        <div class="radio" >                                    
                            <label class="label" for="re">Envoyer un message :</label>
                            <label>
                                <input type="radio" checked id="re" name="optradio" value="oui">Oui
                            </label>
                            <label>
                                <input type="radio" id="re" name="optradio" value="non">Non
                            </label>
                        </div>
                        <div class="message">
                                <textarea id='form7' name='sms' placeholder='Votre message ici ...' class='md-textarea form-control' rows='3'></textarea>
                        </div><br>
                        <div class="file">
                                <input type="file"  id="profile_pic" name="photo" accept=".jpg, .jpeg, .png">
                        </div>
                        <div class="p-t-15" >
                            <button class="btn btn--radius-2 btn--blue" type="submit">Terminer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
    </script>
  
      <script>

          $(document).ready(function(){
            $('input[type="radio"]').click(function(){
                var val = $(this).attr("value");

                if(!$("#form7").length){
                    if(val == "oui"){
                        $(".message").append(
                            $(
                                "<textarea id='form7' name='sms' placeholder='Votre message ici ...' class='md-textarea form-control' rows='3'></textarea>"
                            )
                        ),
                        $(".file").append(
                            $(
                                '<input type="file"  id="profile_pic" name="photo" accept=".jpg, .jpeg, .png">'
                            )
                        )
                    }
                
                }
                else{
                    if(val == "non"){
                        $("#form7").remove();
                        $("#profile_pic").remove();
                    }   
                }

                
            });
          });
      </script>
    