<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Tableau de bord</title>

    <!-- Fontfaces CSS-->
    <link href="styles/css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="styles/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- CSS DATATABLE-->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

    <!-- Main CSS-->
    <link href="styles/css/theme.css" rel="stylesheet" media="all">
    <style>
        .navbar{
          margin-top: 20px;
        }
        .tache{
          text-align: center;
          font-size: 23px;
          font-weight: bold;
        }        
    </style>
</head>


<body class="animsition">
    
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav id="nave" class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Tableau de bord</a>
                            
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Table</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Form</a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/easytech.png" alt="Easytech" />
                </a>
            </div>
            
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Tableau de bord</a>
                            
                        </li>

                        <%
                        if(session.User.admin == true){
                        %>
                        <li>
                            <a href="#">
                                <i class="fas fa-table"></i><button type="button" id="export"  data-toggle="modal" data-target="#myModalEx">Export Excel</button></a>
                        </li>
                        <%
                        }
                        %>
                        <li>
                            <a href="#">
                                <i class="far fa-comment-alt"></i><button type="button"  data-toggle="modal" data-target="#myModal">Notification</button></a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>                       
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div>
                    <div class="container-fluid">
                        <div class="header-wrap">
                           
                            <div class="header-button">                            
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                                <img src="images/icon/avatarhum.png" alt="avatar" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">Matricule: <%= session.User.matricule %></a>
                                            
                                        </div>
                                        
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image" >
                                                    <a href="#">
                                                        <img src="images/icon/avatarhum.png" alt="avatar" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Matricule: <%= session.User.matricule %></a>
                                                    </h5>
                                                    <span class="email"><%= session.User.categorie %></span>
                                                </div>
                                            </div>
                                            <!---
                                            <div class="account-dropdown__body">
                                                
                                            <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                                </div>
                                            </div>
                                            -->

                                            <div class="account-dropdown__footer">
                                                <a href="/logout">
                                                    <i class="zmdi zmdi-power"></i>Se déconnecter</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div>
                                        <%
                                        if(session.User.categorie != 'Trans'){ %>
                                            <a  style="color:rgb(89, 138, 245); margin-left:20px;"  href="/demander_a_trans">Faire une demande</a>
                                        <% } %>
                                </div>
                            
                            </div>
                            <div class="header-button">                            
                                    <div class="account-wrap">
                                        <div class="account-item clearfix js-item-menu">
                                            <div class="content"  id="notif">
                                                <div class="image">
                                                        <img src="images/icon/notif.png" id="notif" alt="notif" />
                                                </div>
                                            
                                                <%
                                                    var nbr_sms = 0;
                                                    for(var i = 0; i< messages.length; i++){
                                                        if(messages[i].vue == false && messages[i].matricule_dest == session.User.matricule ){
                                                            nbr_sms = nbr_sms + 1;
                                                        }
                                                    }
                                                    
                                                %>
                                                <a class="js-acc-btn" style="color:rgb(199, 59, 54);" id="nbr_sms" href="#"> 
                                                    <%= nbr_sms %> 
                                                </a>
                                                
                                            </div>
                                            <div id="res">
                                                
                                            </div>
                                            
                                            <div class="account-dropdown js-dropdown">
                                                <div class="info clearfix" id="contenu_sms">
                                                <%
                                                    for(var i = 0; i< messages.length; i++){
                                                        if(messages[i].vue == false && messages[i].matricule_dest == session.User.matricule ){
                                                            

                                                    %>
                                                    <h5 class="name">
                                                        <span>Expéditeur: <%= messages[i].matricule_exp %></span>
                                                        <span class="email">Trans</span>
                                                    </h5>
                                                    <span class="email"><%= messages[i].sms %> </span><p><%= messages[i].filename %></p><br>
                                                    <%
                                                    if(messages[i].filename){
                                                        %>
                                                            <a href="/images/file/<%= messages[i].filename %>"> Piece jointe</a>
                                                       

                                                    <%
                                                    }
                                                    var sms = messages[i].sms
                                                    if(sms.substr(-39) == "vous demande le droit d'administrateur "){
                                                    %>
                                                        <a id="conf<%= messages[i].matricule_exp %>" href="#" > Confirmer </a>
                                                    <%
                                                    }
                                                    %>
                                                    <hr>
                                                    <script>
                                                        $(document).ready(function(){
                                                            $("#conf<%= messages[i].matricule_exp %>").click(function(){
                                                                var a =  confirm ('Valider le droit d\'administrateur à <%= messages[i].matricule_exp %> ');
                                                                if(a){
                                                                        $.ajax({
                                                                        //L'URL de la requête 
                                                                        url: "/admin/<%= messages[i].matricule_exp %>",

                                                                        //La méthode d'envoi (type de requête)
                                                                        method: "GET",

                                                                        //Le format de réponse attendu
                                                                        dataType : "json",
                                                                    })     
                                                                }
                                            
                                                            });
                                                        });
                                                    </script>

                                                    <%
                                                        }
                                                    }
                                                %>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                                  
                                </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
             
            <!-- MAIN CONTENT-->
            <div class="main-content">       
                <div>
                    <div style="margin-left:20px;">
                            <% 
                            var nnow = new Date().toISOString().slice(0,10);
                            var dd;
                            var df;
                            if(datDebut == "null" && datFin == "null"){
                                dd = nnow;
                                df = nnow;
                            }
                            else if(datDebut && datFin){
                                dd = datDebut;
                                df = datFin;
                            }
                            %>
                            <form  action="/dashboard" method="POST" id="formt">
                            <label for="">De:</label> 
                            <form action="/dashboard" method="POST" id="formt">
                            <input type="date" id="mint" name="mint" value="<%= dd %>">
                                     
                             <label for=""> à :</label>                        
                             <input type="date" id="maxt" name="maxt" value="<%= df %>">
                            </form>
                    </div>
                    <div class="container-fluid">
                        
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-star-circle"></i>
                                            </div>
                                            <div class="text">
                                                <h2 > <span id="nbrNouvelleTache"><%= detailsNouvelle["nbrtache"] %></span>  Nouvelle Tâche</h2>
                                                <span></span>
                                            </div>
                                        </div>
                                        <table class="fonttable" style="margin-left:20px; margin-right:0px;">
                                            <tr>
                                                <td>
                                                    <ul>
                                                        <li >Récuperation: <span id="nRec"><%= detailsNouvelle["nbrRec"] %></span> </li>
                                                        <li >Livraison: <span id="nLiv"><%= detailsNouvelle["nbrLiv"] %></span></li>
                                                        <li></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul style="margin-left:50px;">
                                                        <li>P1: <span id="nP1"> <%= detailsNouvelle["nbrP1"] %></span></li>
                                                        <li>P2: <span id="nP2"> <%= detailsNouvelle["nbrP2"] %> </span></li>
                                                        <li>P3: <span id="nP3"> <%= detailsNouvelle["nbrP3"] %> </span></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-run"></i>
                                            </div>
                                            <div class="text">
                                                <h2 > <span id="nbrTacheEnCours"><%= detailsEnCours["nbrtache"] %> </span> Tâche en cours</h2>
                                                <span></span>
                                            </div>
                                        </div>
                                        <table class="fonttable" style="margin-left:20px; margin-right:0px;">
                                            <tr>
                                                <td>
                                                    <ul>
                                                        <li>Récuperation: <span id="cRec"> <%= detailsEnCours["nbrRec"] %></span></li>
                                                        <li>Livraison: <span id="cLiv"> <%= detailsEnCours["nbrLiv"] %></span></li>
                                                        <li></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul style="margin-left:50px;">
                                                        <li>P1: <span id="cP1"> <%= detailsEnCours["nbrP1"] %> </span></li>
                                                        <li>P2: <span id="cP2"> <%= detailsEnCours["nbrP2"] %></span></li>
                                                        <li>P3: <span id="cP3"><%= detailsEnCours["nbrP3"] %> </span> </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-check"></i>
                                            </div>
                                            <div class="text">
                                                <h2> <span id="nbrTacheTerminer"> <%= detailsterminer["nbrtache"] %> </span> Tâche terminé</h2>
                                                <span></span>
                                            </div>
                                        </div>
                                        <table class="fonttable" style="margin-left:20px; margin-right:0px;">
                                            <tr>
                                                <td>
                                                    <ul>
                                                        <li>Récuperation: <span id="tRec"> <%= detailsterminer["nbrRec"] %></span></li>
                                                        <li>Livraison: <span id="tLiv"><%= detailsterminer["nbrLiv"] %></span> </li>
                                                        <li></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul style="margin-left:50px;">
                                                        <li>P1: <span id="tP1"><%= detailsterminer["nbrP1"] %> </span> </li>
                                                        <li>P2: <span id="tP2"> <%= detailsterminer["nbrP2"] %></span></li>
                                                        <li>P3: <span id="tP3"><%= detailsterminer["nbrP3"] %> </span> </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        
                <div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Suivi des tâches</h2>
                                    <hr />
                                    
                                </div>
                            </div>
                        </div>
                       
                        <!-- CONTENUE DATATABLE -->                      
                        
                        
                        <table id='tab' class=" cell-border table-striped " style="width:100%" >
                            <span id="sapl">

                            </span>
                            <thead class="headfont">
                                <tr>      
                                    <th scope="col">Objet</th>
                                    <th scope="col">Priorité</th>
                                    <th scope="col">Tache</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Taille</th>
                                    <th scope="col">Chemin</th>
                                    <th scope="col">Expéditeur</th>                                 
                                    <th scope="col">Etat</th>
                                    <th scope="col">Réalisateur</th>
                                    <th scope="col">Début</th>  
                                    <th scope="col" >Fin</th> 
                                    <th scope="col">Action</th>                                      
                                </tr>
                                <tr>      
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>                                 
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>  
                                    <th scope="col"></th> 
                                    <th scope="col"></th>                                      
                                </tr>
                            </thead>
                            <tbody>
                                <%    
                                for(var i=0; i < demande.length ; i++) {
                                  if(demande[i].etat_demande == 'nouvelle'){ %>
                                <tr>
                                  <td>
                                    <%= demande[i].objet %>
                                  </td>
                                  <td>
                                    <%= demande[i].priorite %>
                                  </td>
                                  <td>
                                    <%= demande[i].tache %>
                                  </td>
                                  <td>
                                    <%= demande[i].code %>
                                  </td>
                                  <td>
                                      <%= demande[i].size %>
                                    </td>
                                  <td>
                                      <a href="/contenu/<%= demande[i].id %>"><%= demande[i].chemin %></a>
                                  </td>
                                  
                                  <td>
                                    <%= demande[i].categorie %>
                                  </td>
                                  <td>
                                      Nouvelle tâche
                                  </td>
                                  <td>

                                  </td>
                                  <td>

                                  </td>
                                  <td>

                                  </td>

                                  <td>
                                    <% if(session.User.categorie == 'Trans'){ %>
                                    <a type="button" class="btn btn-success" id="boutt" href="/valide_form_demande/<%= demande[i].id %>" >Prendre</a>
                                    <%
                                    }
                                      else{ 
                                    %>
                                      En attente 
                                    <% } %>
                                  </td>
                                </tr>
                                <% 
                                    }
                                  } 
                                %>

                                <!-- Tâche en cours -->
                                
                                <%           
                                for(var i=0; i < tache_en_cours.length; i++) {
                                    if(tache_en_cours[i].statu != 'Terminer'){
                                    var id_demande = tache_en_cours[i].id_demande;
                                    var dateDebut = new Date(tache_en_cours[i].datecours).toLocaleDateString();
                                    var timedebut = new Date(tache_en_cours[i].datecours).toLocaleTimeString();
                            
                                    %>
                                <tr>

                                    <td>
                                        <%= tache_en_cours[i].objet %>
                                    </td>
                                    <td>
                                        <%= tache_en_cours[i].priorite %>
                                    </td>
                                    <td>
                                        <%= tache_en_cours[i].tache %>
                                    </td>
                                    <td>
                                        <%= tache_en_cours[i].code %>
                                    </td>
                                    <td>
                                        <%= tache_en_cours[i].size %>
                                        </td>
                                    <td>
                                        <a href="/contenu/<%= tache_en_cours[i].id %>"><%= tache_en_cours[i].chemin %></a>
                                    </td>
                                    
                                    <td>
                                        <%= tache_en_cours[i].categorie %>
                                    </td>
                                    <td>
                                        Tâche en cours
                                    </td>
                                    <td>
                                    <%= tache_en_cours[i].matricule_trans %>
                                    </td>
                                    <td>
                                        <%
                                            var dateDebut = new Date( parseFloat(tache_en_cours[i].datecours , 10) ).toLocaleDateString();
                                        %>
                                        <%= dateDebut %>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <% 
                                        if(tache_en_cours[i].etat_demande == 'Stand By'){
                                        %>
                                        

                                        <span  class="d-inline-block" tabindex="0" data-toggle="tooltip" title="<%= tache_en_cours[i].commentaire %>" style="color:rgb(199, 59, 54)" >
                                            <strong class="btn btn-light"  style="color:rgb(212, 27, 27); pointer-events: none;">Stand By</strong>
                                        </span> 
                                        <% 
                                        if(session.User.categorie == 'Trans'){
                                            if(session.User.matricule == tache_en_cours[i].matricule_trans){
                                        %>
                                        <a type="button" class="btn btn-primary" id="boutt" href="/tache_continuer/<%= tache_en_cours[i].id_demande %>/<%= tache_en_cours[i].id %>">Continuer</a>
                                        <%
                                            }
                                        }
                                        }
                                        
                                        else if(tache_en_cours[i].matricule_trans == session.User.matricule ) { 
                                            var stand = "stand";
                                            %>
                                            
                                            <span id="onLine">
                                            <a type="button" class="btn btn-danger" href="/valider_stand_by/<%= tache_en_cours[i].id_demande %>/<%= tache_en_cours[i].id %>/<%= stand %>"  style="color:white;" >Stand By</a>
                                            <input type="hidden" id="idStand" value="<%= tache_en_cours[i].id_demande %> "></input>
                                            <a type="button" class="btn btn-primary" id="boutt" href="/valide_form_terminer/<%= tache_en_cours[i].id_demande %>">Terminer</a>
                                            </span> 
                                            
                                        <% 
                                        }
                                        else{
                                        %>
                                        <span class="btn btn-light"  style="color:rgb(52, 118, 204);">En cours</span>
                                        <%
                                        }
                                        %>
                                    </td>
                                </tr>
                                <% 
                                    }
                                    }
                                %>
                                            
                                        <!-- Tâche terminé-->
                                        
                                <%           
                                for(var i=0; i < tache_en_cours.length; i++) {
                                    if(tache_en_cours[i].etat_demande == "Terminer"){ 

                                    %>
                                <tr>
                                    
                                    <td><%= tache_en_cours[i].objet %></td>
                                    <td>
                                    <%= tache_en_cours[i].priorite %>
                                    </td>
                                    <td>
                                    <%= tache_en_cours[i].tache %>
                                    </td>
                                    <td>
                                    <%= tache_en_cours[i].code %>
                                    </td>
                                    <td>
                                        <%= tache_en_cours[i].size %>
                                    </td>
                                    <td>
                                        <a href="/contenu/<%= tache_en_cours[i].id %>"><%= tache_en_cours[i].chemin %></a>
                                    </td>
                                    
                                    <td>
                                    <%= tache_en_cours[i].categorie %>
                                    </td>
                                    <td>
                                        Tâche terminé
                                    </td>
                                    <td>
                                        <%= tache_en_cours[i].matricule_trans %>                                     
                                    </td>
                                    <td>
                                        <%
                                            var dateDebut = new Date( parseFloat(tache_en_cours[i].datecours , 10) ).toLocaleDateString();
                                        %>
                                        <%= dateDebut %>
                                    </td>
                                    <td>
                                        <%
                                            const tt = tache_en_cours[i].H_fin_transfert
                                            const tapal = tt.split(' à')
                                         %>
                                        <%= tapal[0] %>
                                    </td>
                                    <td>
                                         <span class="btn btn-light" style="color:green;">Terminé</span>
                                    </td>
                                </tr>
                                <% 
                                    }
                                    } 
                                %>
                            </tbody>
                            <tfoot>
                                <tr>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>                                 
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>  
                                        <th scope="col"></th> 
                                        <th scope="col"></th>    
                                </tr>
                            </tfoot>
                      </table>
                      <hr>
        
                 <!-- FIN CONTENUE DATATABLE-->
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2020 Easytech</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            <!-- END MAIN CONTENT-->
        <div class="container">
    
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <label for="">Notification</label>

                    </div>
                    <div style="margin-left:20px;">
                    <%
                        for(var i = messages.length-1; i >= 0; i--){
                            if(messages[i].matricule_dest == session.User.matricule ){
                            var datecreation = new Date(messages[i].createdAt).toLocaleDateString();
                            var timecreation = new Date(messages[i].createdAt).toLocaleTimeString();
                            var temps = datecreation + " à " + timecreation;

                    %>
                        <h5>Expéditeur: <%= messages[i].matricule_exp %> Trans _ <%= temps %></h5>
                        <p><%= messages[i].sms %></p>
                        <%
                        if(messages[i].filename){
                            %>

                            <a href="/images/file/<%= messages[i].filename %>" target="_blank">
                                <img src="/images/file/<%= messages[i].filename %>" alt="Petite image" />
                            </a>


                        <%
                        }
                        var sms = messages[i].sms
                        if(sms.substr(-39) == "vous demande le droit d'administrateur "){
                        %>
                        <a id="conf<%= i %>" href="#" > Confirmer </a>
                        <script>
                            $(document).ready(function(){
                                $("#conf<%= i %>").click(function(){
                                    var a =  confirm ('Valider le droit d\'administrateur à <%= " " +  messages[i].matricule_exp %> ');
                                    if(a){
                                            $.ajax({
                                            //L'URL de la requête 
                                            url: "/admin/<%= messages[i].matricule_exp %>",

                                            //La méthode d'envoi (type de requête)
                                            method: "GET",

                                            //Le format de réponse attendu
                                            dataType : "json",
                                        })     
                                    }
                
                                });
                            });
                        </script>

                        <%
                        }
                        %>
                        <hr>
                    <%  
                        
                            }
                        }
                    %>
                </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                
                </div>
            </div>
        </div>

        <div class="container">
            <div class="modal fade" id="myModalEx" role="dialog">
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <label for="">Export Excel</label>

                    </div>
                    <div style="margin-left:20px;">
                    
                        <h5></h5>
                        <label for="">Export réussi, <a href="/export/Tâche.xlsx" download>cliquez ici</a> pour télécharger</label>
                    
                </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                
                </div>
            </div>
            
        </div>

        <div class="container">
            <div class="modal fade" id="myModalStand" role="dialog">
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <label for="">Export Excel</label>

                    </div>
                    <div style="margin-left:20px;">
                    
                        <h5></h5>
                        <label for="">Export réussi, <a href="/export/Tâche.xlsx" download>cliquez ici</a> pour télécharger</label>

                        <span id="LinkStand"></span>
                    
                </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                
                </div>
            </div>
            
        </div>
            <!-- END PAGE CONTAINER-->
</div>

    </div>

    <input type="hidden" id="session" value="<%= session.User.matricule %>" ></input>
    <input type="hidden" id="session_categorie" value="<%= session.User.categorie %>"></input>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

<!-- Main JS-->
<script src="js/main.js"></script>      

<script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous">
</script>


<script type="text/javascript" src='DataTables/media/js/jquery.js'></script>
<script type="text/javascript" src="DataTables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="DataTables/tableau.js"></script>
          
<script>

$('#mint').change(function() {
    $(this).closest('#formt').submit();
});

$('#maxt').change(function() {
    $(this).closest('#formt').submit();
});

$(document).ready(function(){
    $("#notif").click(function(){
        $.ajax({
            //L'URL de la requête 
            url: "/message_vue/<%= session.User.matricule %>",

            //La méthode d'envoi (type de requête)
            method: "GET",

            //Le format de réponse attendu
            dataType : "json",
        })        
    });

    $("#notif").click(function(){
        $("#nbr_sms").text('');
    });

    $("#export").click(function(){
        $.ajax({
            //L'URL de la requête 
            url: "/exporter_xl",

            //La méthode d'envoi (type de requête)
            method: "GET",
        })  
    })
});


 
</script>

<script type="text/javascript" src="/dependencies/sails.io.js"></script>
<script type="text/javascript">
    //Start the socket connection

    io.sails.url = "http://localhost:1340/";

    var moi =  $("#session").val();
    var session_categorie = $("#session_categorie").val();
    var id_nouvelle_tache = $("#id_nouvelle_tache");
    io.socket.on("new_message" , function(data){           
        if(data.matricule_dest == moi){
            var nbr_sms = parseInt( $("#nbr_sms").text() , 10); 
            nbr_sms = nbr_sms + 1;
            $("#nbr_sms").text(nbr_sms)
            var contenu_sms = $("#contenu_sms");
            if(!data.confAdmin && data.filename){
                contenu_sms.append(
                    $(
                        "<h5 class='name'> <span>Expéditeur:" +data.matricule_exp+"</span> <span class='email'>Trans</span></h5><span class='email'> "+data.sms+"</span><br><a href='/images/file/"+ data.filename +"' target='_blank'>Piece jointe</a>"
                    )
                )
            }
            else if(!data.confAdmin && !data.filename){
                contenu_sms.append(
                    $(
                        "<h5 class='name'> <span>Expéditeur:" +data.matricule_exp+"</span> <span class='email'>Trans</span></h5><span class='email'> "+data.sms+"</span>"
                    )
                )
            }
            else{
                contenu_sms.append(
                    $(
                        '<h5 class="name"> <span>Expéditeur:' +data.matricule_exp+'</span> <span class="email">Trans</span></h5><span class="email">' +data.sms+' </span><br><a id="conft' + data.matricule_exp +'" href="#">Confirmer</a><hr>'
                    ),
                    
                )
            }
            var idt = "conft"+data.matricule_exp;
            $("#"+idt).click(function(){
                var a =  confirm ('Valider le droit d\'administrateur à '+ data.matricule_exp);
                if(a){
                        $.ajax({
                        //L'URL de la requête 
                        url: "/admin/" +data.matricule_exp,

                        //La méthode d'envoi (type de requête)
                        method: "GET",

                        //Le format de réponse attendu
                        dataType : "json",
                    })
                }                    
            });   
        }    
    });

    io.socket.on("nouvelle_tache", function(data){
        var id_nouvelle_tache = $("#id_nouvelle_tache");
        id_nouvelle_tache.append(
            $(
                '<tr><td>'+ data.objet+'</td><td>'+ data.priorite+'</td><td>'+ data.tache+'</td><td>'+ data.code+'</td><td>'+ data.size+'</td><td><a href="/contenu/'+data.id+'">'+ data.chemin+'</a></td><td>'+ data.categorie+'</td><td>Nouvelle tâche</td><td></td><td></td><td></td><td>'+ (session_categorie == 'Trans' ? ' <a type="button" class="btn btn-success" id="boutt" href="/valide_form_demande/'+data.id+'">Prendre</a>' : 'En attente')+'</td></tr>'
            )
        )

        var nbrNouvelleTache = parseInt($('#nbrNouvelleTache').text(), 10);
        nbrNouvelleTache = nbrNouvelleTache + 1;
        $('#nbrNouvelleTache').text(nbrNouvelleTache);

        if(session_categorie == 'Trans'){
            var nbr_sms = parseInt( $("#nbr_sms").text() , 10); 
            nbr_sms = nbr_sms + 1;
            $("#nbr_sms").text(nbr_sms)

            var contenu_sms = $("#contenu_sms");
            contenu_sms.append(
                $(
                    "<h5 class='name'> <span>" + data.categorie +" _ Nouvelle tâche</span> </h5><span class='email'>"+ data.objet+"</span><hr>"
                )
            )
        }
        
    });

    io.socket.on("tache_en_cours", function(data){
        var nbrTacheEnCours = parseInt($('#nbrTacheEnCours').text(), 10);
        nbrTacheEnCours = nbrTacheEnCours + 1;
        $('#nbrTacheEnCours').text(nbrTacheEnCours)

        var nbrNouvelleTache = parseInt($('#nbrNouvelleTache').text(), 10);
        nbrNouvelleTache = nbrNouvelleTache - 1;
        $('#nbrNouvelleTache').text(nbrNouvelleTache);

        id_nouvelle_tache.append(
            $(
                '<tr><td>'+ data.objet+'</td><td>'+ data.priorite+'</td><td>'+ data.tache+'</td><td>'+ data.code+'</td><td>'+ data.size+'</td><td><a href="/contenu/'+data.id_demande+'">'+ data.chemin+'</a></td><td>'+ data.expediteur+'</td><td>Tâche en cours</td><td>'+ data.realisateur+'</td><td>'+ data.debut+'</td><td></td><td>'+ (session_categorie != 'Trans'? 'En cours' : '<span id="onLine"><a type="button" class="btn btn-danger" id="boutt" href="/stand_by/'+data.id_demande+'/' + data.id_tache +'">Stand By</a><a type="button" class="btn btn-primary" id="boutt" href="/valide_form_terminer/'+id_demande+'">Terminer</a></span>')+'</td></tr>'        
            )
        )
    });

    io.socket.on("tache_terminer", function(data){
        var nbrTacheTerminer = parseInt($('#nbrTacheTerminer').text(), 10);
        nbrTacheTerminer = nbrTacheTerminer + 1;
        $('#nbrTacheTerminer').text(nbrTacheTerminer);

        var nbrTacheEnCours = parseInt($('#nbrTacheEnCours').text(), 10);
        nbrTacheEnCours = nbrTacheEnCours - 1 ;
        $('#nbrTacheEnCours').text(nbrTacheEnCours)

        var id_tache_terminer = $("#id_tache_terminer");
        id_tache_terminer.append(
            $(
                '<tr><td>'+ data.objet+'</td><td>'+ data.priorite+'</td><td>'+ data.tache+'</td><td>'+ data.code+'</td><td>'+ data.size+'</td><td><a href="/contenu/'+data.id_demande+'">'+ data.chemin+'</a></td><td>'+ data.expediteur+'</td><td>'+ data.realisateur+'</td><td>'+ data.debut+'</td><td>'+ data.fin+'</td></tr>'
            )
        )
    });

    io.socket.on("detailsTache", function(data){
        $("#nRec").text(data.detailsNouvelle["nbrRec"]);
        $("#nLiv").text(data.detailsNouvelle["nbrLiv"]);
        $("#nP1").text(data.detailsNouvelle["nbrP1"]);
        $("#nP2").text(data.detailsNouvelle["nbrP2"]);
        $("#nP3").text(data.detailsNouvelle["nbrP3"]);

        $("#cRec").text(data.detailsEnCours["nbrRec"]);
        $("#cLiv").text(data.detailsEnCours["nbrLiv"]);
        $("#cP1").text(data.detailsEnCours["nbrP1"]);
        $("#cP2").text(data.detailsEnCours["nbrP2"]);
        $("#cP3").text(data.detailsEnCours["nbrP3"]);

        $("#tRec").text(data.detailsterminer["nbrRec"]);
        $("#tLiv").text(data.detailsterminer["nbrLiv"]);
        $("#tP1").text(data.detailsterminer["nbrP1"]);
        $("#tP2").text(data.detailsterminer["nbrP2"]);
        $("#tP3").text(data.detailsterminer["nbrP3"]);

    })

</script>

<!-- JS DATATABLE-->

</body>
</html>
<!-- end document-->
